@use './colors' as *;

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.hamburger {
   position: fixed;
   top: 3em;
   left: 1em; 
   transform: translateY(-50%);
   z-index: 500;

   &-inner, &-inner::before, &-inner::after {
    background-color: $white;
    z-index: 500;
   }
}

.section-title {
    position: relative;
    margin: 0 auto 2em;
    font-size: 3.2em;
    color: $gold;
    font-weight: 200;
    width: fit-content;

    &::before {
        position: absolute;
        bottom: -.1em;
        left: 0;
        width: 40px;
        height: 2px;
        background-color: $gold;
        content: '';
    }

    span {
        font-weight: 900;
    }
}